#form-data {
    display: none;
  }




  #student-table {
    border-collapse: collapse;
  }
  #student-table th, #student-table td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  .hidden-form {
    display: none;
  }
 